# Môi trường ảo
venv/
.venv/
env/

# Cache của Python
__pycache__/
*.pyc

# Cấu hình bảo mật (Cực kỳ quan trọng)
.env

# Dữ liệu tạm và Log
storage/bronze/
storage/silver/
logs/
.pytest_cache/

# Folder của IDE
.vscode/
.idea/
yhct-knowledge-graph.json